{% extends 'base.html' %}

{% load static %}

{% block title %}Incident Management System{% endblock %}



{% block content %}


<div class="container">
  <!-- <h3>Incident Management System</h3> -->
  <hr>
  <table class="table" id="incident-table">
    <thead>
      <tr>
        <th>Incident ID</th>
        <th>Reporter Name</th>
        <th>Incident Details</th>
        <th>Reported Date/Time</th>
        <th>Priority</th>
        <th>Incident Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

{% endblock %}





